# Open Access Practices at Universities
## The Data
In this project I want to explore the open access publishing practices of universities all over the world. Publishing research open access is the only way to make scientific knowledge equally available to everyone with an internet connection regardless of their origin and their available funds.

This project is based on the CWTS Leiden Ranking Open Edition 2023 Dataset<sup>1</sup> provided by the Centre for Science and Technology Studies (CWTS). The full dataset can be downloaded from Zenodo under the followig citation:

> Van Eck, N. J. (2024). CWTS Leiden Ranking Open Edition 2023 - Data [Data set]. Zenodo. https://doi.org/10.5281/zenodo.10579113

It is based on data provided by OpenAlex - a catalogue of scientific works, authors and institutions.

## Open Access Related Terminology
The issue of Open Access publishing is quite complex therefore I will explain some central terminology here:

**Gold Open Access:** the final version of your scientific output is published open access by the publisher. i.e. it is permanently and freely available for anyone with an internet connection.

**Green Open Access:** also called 'self-archiving'. Here the authors themselves publish an earlier version of the manuscript of the scientific output in an online repository, while the publisher does not make the final version available freely.

**Bronze Open Access:** here, the scientific output is free to read only on the publishers website, however unlike the articles published as **gold** open access, **bronze** open access articles do not have an explicitly open license.

**Hybrid Open ACCESS:** here, subscription based journals publish individual papers in open access, asking for a publication fee, while also having institutions pay subscription fees. This practice is called double dipping.

In [1]:
import pandas as pd
import numpy as np
import mysql.connector as con
import geopandas as gpd

In [2]:
# write a function that returns a pandas dataframe after executing a sql query
def execute_query(query):
    cursor.execute(query)
    
    return pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

In [4]:
# connect to the database and start the cursor
cnx = con.connect(user='root',
                  password='',
                  host='localhost',
                  database='CWTS_leiden_ranking',
                  autocommit=True)

cursor = cnx.cursor()

In [18]:
q = """SELECT university.university_id,
              university.university_full_name,
              university.country_code, 
              university.latitude,
              university.longitude,
              university_main_field_period_oa_indicators.main_field_id,
              main_field.main_field,
              university_main_field_period_oa_indicators.period_begin_year,
              period.period,
              university_main_field_period_oa_indicators.p,
              university_main_field_period_oa_indicators.p_oa_unknown,
              university_main_field_period_oa_indicators.p_oa,
              university_main_field_period_oa_indicators.p_gold_oa,
              university_main_field_period_oa_indicators.p_hybrid_oa,
              university_main_field_period_oa_indicators.p_bronze_oa,
              university_main_field_period_oa_indicators.p_green_oa,
              university_main_field_period_oa_indicators.pp_oa,
              university_main_field_period_oa_indicators.pp_gold_oa,
              university_main_field_period_oa_indicators.pp_hybrid_oa,
              university_main_field_period_oa_indicators.pp_bronze_oa,
              university_main_field_period_oa_indicators.pp_green_oa,
              university_main_field_period_impact_indicators.p_top_1,
              university_main_field_period_impact_indicators.p_top_10,
              university_main_field_period_impact_indicators.pp_top_1,
              university_main_field_period_impact_indicators.pp_top_10
       FROM   university
       INNER JOIN university_main_field_period_oa_indicators 
                  ON university.university_id=university_main_field_period_oa_indicators.university_id
       INNER JOIN main_field
                  ON university_main_field_period_oa_indicators.main_field_id=main_field.main_field_id
       INNER JOIN period
                  ON university_main_field_period_oa_indicators.period_begin_year=period.period_begin_year
       INNER JOIN university_main_field_period_impact_indicators
                  ON university_main_field_period_oa_indicators.university_id=university_main_field_period_impact_indicators.university_id
                  AND university_main_field_period_oa_indicators.main_field_id=university_main_field_period_impact_indicators.main_field_id
                  AND university_main_field_period_oa_indicators.period_begin_year=university_main_field_period_impact_indicators.period_begin_year
       WHERE university_main_field_period_impact_indicators.fractional_counting = 'False';
    """

df = execute_query(q)

df.head()

,university_id,university_full_name,country_code,latitude,longitude,main_field_id,main_field,period_begin_year,period,p,...,p_green_oa,pp_oa,pp_gold_oa,pp_hybrid_oa,pp_bronze_oa,pp_green_oa,p_top_1,p_top_10,pp_top_1,pp_top_10
0,6,University of Graz,AT,47.07778,15.449902,5,Mathematics and computer science,2006,2006-2009,184.333333,...,25.000000,0.297468,0.013562,0.024412,0.123870,0.135624,1.752500,18.423625,0.009507,0.099947
1,6,University of Graz,AT,47.07778,15.449902,5,Mathematics and computer science,2007,2007-2010,219.500000,...,39.666667,0.377373,0.029613,0.027335,0.139711,0.180714,0.502500,23.605886,0.002289,0.107544
2,6,University of Graz,AT,47.07778,15.449902,5,Mathematics and computer science,2008,2008-2011,256.833333,...,53.833333,0.401687,0.036989,0.038936,0.116158,0.209604,0.512500,23.673406,0.001995,0.092174
3,6,University of Graz,AT,47.07778,15.449902,5,Mathematics and computer science,2009,2009-2012,289.166667,...,69.500000,0.412680,0.031124,0.046686,0.094524,0.240346,0.849333,31.073681,0.002937,0.107459
4,6,University of Graz,AT,47.07778,15.449902,5,Mathematics and computer science,2010,2010-2013,288.333333,...,79.500000,0.470520,0.039884,0.068786,0.086127,0.275723,1.103333,36.170325,0.003827,0.125446

In [19]:
country_codes = pd.read_csv('/home/moritzjakob/Desktop/OS_project/data/wikipedia-iso-country-codes.csv')
country_codes = country_codes.rename(columns={"English short name lower case":"country_name",
                                               "Alpha-2 code":"country_code"})

In [20]:
df = df.join(country_codes[['country_name', 'country_code']].set_index('country_code'), on='country_code')

# drop columns that were only needed for the join
df = df.drop(['university_id', 'main_field_id', 'period_begin_year', 'country_code'], axis=1)

# create a geodataframe
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['latitude'], df['longitude']))

# move country name column
col_2 = gdf.pop('country_name')
gdf.insert(1, 'country_name', col_2)

gdf.head()

,university_full_name,country_name,latitude,longitude,main_field,period,p,p_oa_unknown,p_oa,p_gold_oa,...,pp_oa,pp_gold_oa,pp_hybrid_oa,pp_bronze_oa,pp_green_oa,p_top_1,p_top_10,pp_top_1,pp_top_10,geometry
0,University of Graz,Austria,47.07778,15.449902,Mathematics and computer science,2006-2009,184.333333,0.0,54.833333,2.5,...,0.297468,0.013562,0.024412,0.123870,0.135624,1.752500,18.423625,0.009507,0.099947,POINT (47.07778 15.4499)
1,University of Graz,Austria,47.07778,15.449902,Mathematics and computer science,2007-2010,219.500000,0.0,82.833333,6.5,...,0.377373,0.029613,0.027335,0.139711,0.180714,0.502500,23.605886,0.002289,0.107544,POINT (47.07778 15.4499)
2,University of Graz,Austria,47.07778,15.449902,Mathematics and computer science,2008-2011,256.833333,0.0,103.166667,9.5,...,0.401687,0.036989,0.038936,0.116158,0.209604,0.512500,23.673406,0.001995,0.092174,POINT (47.07778 15.4499)
3,University of Graz,Austria,47.07778,15.449902,Mathematics and computer science,2009-2012,289.166667,0.0,119.333333,9.0,...,0.412680,0.031124,0.046686,0.094524,0.240346,0.849333,31.073681,0.002937,0.107459,POINT (47.07778 15.4499)
4,University of Graz,Austria,47.07778,15.449902,Mathematics and computer science,2010-2013,288.333333,0.0,135.666667,11.5,...,0.470520,0.039884,0.068786,0.086127,0.275723,1.103333,36.170325,0.003827,0.125446,POINT (47.07778 15.4499)

In [10]:
gdf.isna().sum()

university_full_name      0
latitude                  0
longitude                 0
main_field                0
period                    0
p                         0
p_oa_unknown            190
p_oa                    190
p_gold_oa               190
p_hybrid_oa             190
p_bronze_oa             190
p_green_oa              190
pp_oa                   190
pp_gold_oa              190
pp_hybrid_oa            190
pp_bronze_oa            190
pp_green_oa             190
p_top_1                 190
p_top_10                190
pp_top_1                190
pp_top_10               190
country_name              0
geometry                  0
dtype: int64